# Build folders
/bin/
/obj/

# Code::Blocks project files
*.depend
*.layout
*.cbp.save
*.layout.save

# Object files
*.o
*.obj

# Executables and output files
*.exe
*.out

# Libraries
*.lib
*.a
*.so
*.dll

# Debug files
*.dSYM/
*.pdb
*.idb

# Precompiled headers
*.gch
*.pch

# Kernel module compile results
*.mod*
*.cmd
*.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temporary system files
*.DS_Store
*.swp
